$color : (
    white : white,
    dark-mode : (
        blue : hsl(209, 23%, 22%),
        dark-blue : hsl(207, 26%, 17%),
        dark-white : hsl(0, 0%, 70%)
    ),
    light-mode : (
        dark-blue : hsl(200, 15%, 8%),
        dark-grey : hsl(0, 0%, 52%),
        light-grey : hsl(0, 0%, 98%)
    )
);

$font-size : (
    huge : 1.6rem,
    big : 1.3rem,
    medium : 0.9rem,
    small : 0.8rem
)
