@use './map' as *;

body.dark-theme{

    background-color: map-get($color, dark-mode, dark-blue);

    .l-country-details{
        background-color: map-get($color, dark-mode, dark-blue);
    }

    .search-tools__search-bar input,
    .search-tools__filter__options-container > div,
    .card{
        background-color: map-get($color, dark-mode, blue);

    }

    button, .countries__module, .search-tools__filter__option{

        &:hover{
            background-color: hsl(209, 20%, 24%);
        }
    }

    .l-app-content, .l-app-header{

        p, span, h1, h2, h3, h4{
            color : map-get($color, white);
        }
    }

    .arrow-svg, .moon-svg, .moon-svg .st0{
        fill : map-get($color, white);
    }
    
    .search-svg{
        fill : map-get($color, dark-mode, dark-white)
    }

    .search-tools__search-bar input{

        &::-webkit-input-placeholder { 
            color : map-get($color, dark-mode, dark-white);
        }
        &:-moz-placeholder { 
            color : map-get($color, dark-mode, dark-white);
            opacity:  1;
        }
        &::-moz-placeholder { 
            color : map-get($color, dark-mode, dark-white);
            opacity:  1;
        }
        &:-ms-input-placeholder { 
            color : map-get($color, dark-mode, dark-white);
        }
        &::-ms-input-placeholder { 
            color : map-get($color, dark-mode, dark-white);
        }
        
        &::placeholder { 
            color : map-get($color, dark-mode, dark-white);
        }
    
        color : map-get($color, dark-mode, dark-white);

        &:focus{
            color : map-get($color, white);
        }
    }

    .search-tools__filter__options-container{
        filter : drop-shadow(0 0 0.4rem rgba(0,0,0,0.2));
    }

    .card{
        box-shadow: 0 0 0.4rem rgba(0,0,0,0.2);
    }

    .scrollbar-track{
        background: hsl(209, 23%, 22%);
    }
    
    .scrollbar-thumb{
        background: rgba(255,255,255,0.25);
    }
}